DATABASE_URL=postgresql://neondb_owner:npg_5BX7oTWrseAC@ep-super-sea-ados2mkg-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

PORT=3000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=12h

# Prisma Seeding Configuration
SEED_ADMIN_EMAIL=admin@smartcare.icu
SEED_ADMIN_PASSWORD=SuperSecurePassword2026!
SEED_ADMIN_FIRST_NAME=System
SEED_ADMIN_LAST_NAME=admin

SEED_NURSE_EMAIL=nurse@smartcare.icu
SEED_NURSE_PASSWORD=SuperSecurePassword2026!
SEED_NURSE_FIRST_NAME=Test
SEED_NURSE_LAST_NAME=Nurse

SEED_RESIDENT_EMAIL=resident@smartcare.icu
SEED_RESIDENT_PASSWORD=SuperSecurePassword2026!
SEED_RESIDENT_FIRST_NAME=Test
SEED_RESIDENT_LAST_NAME=Resident

SEED_SPECIALIST_EMAIL=specialist@smartcare.icu
SEED_SPECIALIST_PASSWORD=SuperSecurePassword2026!
SEED_SPECIALIST_FIRST_NAME=Test
SEED_SPECIALIST_LAST_NAME=Specialist
